<!doctype html>
<html>
<head>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/websdk-bundle.js"></script>
    <script src="/bundle.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">


        function onProgress(progress) {
            const data = {}
            const url = '/users/verify';
            axios.post(url,data)
                    .then(response => {
                        const data = response.data;
                        console.log(data);
                    })
                    .catch(error => {
                        console.log(error);
                    });

            console.log(progress);
        }
        function onSuccess(response) {
            console.log('success')
            console.log(response);
        }
        function onError(error) {
            console.log(error);
        }


        var config = {
            onProgress: onProgress, //callback method for reading the progress status
            onSuccess: onSuccess, //callback method to read the success response
            onError: onError, //callback method to read the error response
            qrCodeNeeded: true
        };

        let userId = {{user.id}}


        var inputData =
                {
                    "firstName": "{{user.details.first_name}}",
                    "surName":  "{{user.details.last_name}}",
                    "physicalAddress":  "{{user.details.street}}",
                    "state":  "{{user.details.region}}",
                    "zip":  "{{user.details.postal_code}}",
                    "city": "{{user.details.city}}",
                    "dob":  "{{user.details.date_of_birth}}",
                    "country":  "{{user.country_code}}",
                };

        console.log(inputData);

        function start() {
            SocureInitializer.init("dbf8aa95-c77c-449e-a85b-6b499cd94362")
                    .then(lib => {
                        lib.init("dbf8aa95-c77c-449e-a85b-6b499cd94362", "#websdk", config).then(function() {
                            lib.start(2).then(function(response)
                                    {
                                        console.log(response.referenceId)
                                    },
                                    function(error) {
                                        // error
                                    }
                            );
                        });
                    });
        }

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }



    </script>

</head>
<body id="google_translate_element">
<button onclick="start()">Start</button>
<button onclick="refresh()">Refresh</button>
<div id="websdk"> See here </div>
//websdk is the HTML div where you want to render the interface
<script>
    //Replace with your key above
</script>
</body>
</html>