<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/websdk-bundle.js" data-variable="myVariable"></script>
    <script src="/bundle.js"></script>
    <link href="/bundle.css" rel="stylesheet" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="google_translate_element"></div>
<div id="websdk"> See here </div>
<script type="text/javascript">

    start()

    function onProgress(progress) {
        console.log(progress);
    }
    function onSuccess(response) {
        console.log('success')
        const data = {
            user_id:{{user.id}},
            uuid:response.documentUuid,
            issuing_date:response.verifyResult.documentVerification.documentData.issueDate,
            expiration_date:response.verifyResult.documentVerification.documentData.expirationDate,
            document_number:response.verifyResult.documentVerification.documentData.documentNumber,
            label:response.verifyResult.documentVerification.documentType.type,
            status:response.status,

        }
        const url = '/prime_trust/create/socure/document';
        axios.post(url,data)
                .then(response => {
                    const data = response.data;
                    console.log(data);
                })
                .catch(error => {
                    console.log(error);
                });

        console.log(response);
    }
    function onError(error) {
        let data = {
            id:{{user.id}},
        }
        const url = '/prime_trust/failed/socure/document';
        axios.post(url,data)
                .then(response => {
                    const data = response.data;
                    console.log(data);
                })
                .catch(error => {
                    console.log(error);
                });

        console.log(error);
    }


    var config = {
        onProgress: onProgress, //callback method for reading the progress status
        onSuccess: onSuccess, //callback method to read the success response
        onError: onError, //callback method to read the error response
        qrCodeNeeded: true
    };

    let country =  "{{user.country_code}}";

    let inputData =
            {
                "firstName": "{{user.details.first_name}}",
                "surName":  "{{user.details.last_name}}",
                "physicalAddress":  "{{user.details.street}}",
                "zip":  "{{user.details.postal_code}}",
                "city": "{{user.details.city}}",
                "dob":  "{{user.details.date_of_birth}}",
                "country":  "{{user.country_code}}"
            };

    if(country === 'US'){
        inputData["state"] = "{{user.details.region}}"
    }

    console.log(inputData);

    function start() {
        SocureInitializer.init("{{socure_sdk}}")
                .then(lib => {
                    lib.init("{{socure_sdk}}", "#websdk", config).then(function() {
                        lib.start(2,inputData).then(function(response)
                                {
                                    console.log(response)
                                },
                                function(error) {
                                    console.log(error);
                                }
                        );
                    });
                });
    }

    function googleTranslateElementInit() {
        setCookie('googtrans', '/en/{{language}}/', 1);
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
    function setCookie(key, value, expiry) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }

</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>